services:
  mariadb:
    container_name: mariadb
    image: mariadb
    build: ./requirements/mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -u root -p$MYSQL_ROOT_PASSWORD || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  wordpress:
    container_name: wordpress
    image: wordpress
    build: ./requirements/wordpress
    volumes:
      - wordpress_data:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always

  nginx:
    container_name: nginx
    image: nginx
    build: ./requirements/nginx
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: always

  adminer:
    container_name: adminer
    image: adminer
    build: requirements/adminer
    restart: unless-stopped
    depends_on:
      - mariadb
    networks:
      - inception

  ftp:
    container_name: FTP
    image: FTP
    build: requirements/ftp
    restart: unless-stopped
    depends_on:
      - wordpress
    networks:
      - inception
    volumes:
      - wordpress_data
    ports:
        - "21:21"
        - "21000-21010:21000-21010"

networks:
  inception:
    driver: bridge
    name: inception

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/nduvoid/data/mariadb

  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/nduvoid/data/wordpress

