services:
  mariadb:
    container_name: mariadb
    hostname: mariadb
    build: ./requirements/mariadb
    volumes:
      - /home/nduvoid/data/mariadb:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -u root -p$MYSQL_ROOT_PASSWORD || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    volumes:
      - /home/nduvoid/data/wordpress:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    ports:
      - "8080:9000"
    depends_on:
      - mariadb

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    networks:
      - inception
    ports:
      - "443:443"
    volumes:
      - /home/nduvoid/data/wordpress:/var/www/html
    depends_on:
      - wordpress

# volumes:
#   mariadb:
#   wordpress:

networks:
  inception:
    driver: bridge