services:
  mariadb:
    build: ./requirements/mariadb
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception

  wordpress:
    build: ./requirements/wordpress
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      - mariadb

  # ngnix:
  #   build: ./requirements/ngnix
  #   networks:
  #     - inception
  #   ports:
  #     - "433:433"


volumes:
  mariadb:
  wordpress:

networks:
  inception:
    driver: bridge
